SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/1xWlCG7iC67cwy-PD4utO6Ossu0wGNLTVm5aWFLPk1lo/edit
GOOGLE_CREDENTIALS_FILE=credentials.json

SENDER_EMAIL=your_email@gmail.com
GMAIL_APP_PASSWORD=your_app_password
DRY_RUN=true
